export SERVICE_ACCOUNT_KEY=$(cat /path/to/terraform-domain-infra.json)

# Terraform providers and backend
export GOOGLE_CREDENTIALS=$SERVICE_ACCOUNT_KEY

# Pulumi GCP provider
export GOOGLE_CLOUD_KEYFILE_JSON=$SERVICE_ACCOUNT_KEY

export PULUMI_CONFIG_PASSPHRASE=""
